

.app {
	position: fixed;
	background-size: contain;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
	
}

p {
    font-size: 65px;
    font-weight: bold;
    color: gray;
    text-align: center;
    

}

.michigan_map {
    display: block;
    margin: auto;
    width: 70%;
}

.newPin {
    position: absolute;
}
